header {
    background: black;
    color: white;
    font-family: "Open Sans Bold";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    
    img {
        grid-column: 2;
    }
    
    nav {
        grid-column: 3;
        align-self: end;

        ul {
            display: flex;
            justify-content: space-evenly;
            cursor: pointer;
        }

        li {
            display: inline;
        }
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.5%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    }

    .beers {
        background: lightgrey;
        justify-items: center;
        text-align: center;
        object-fit: contain;
        grid-template-rows: 24rem;
        
        img {
            max-height: 20em;
            margin-top: 2em;
        }

        h1 {
            font-family: "Open Sans Bold";
            padding-top: 2rem;
        }

        p {
            font-family: "Open Sans";
            padding: 1rem;
            height: 10rem;
        }

        .pH {
            color: white;
            }

        li {
            display:inline-block;
            font-family: "Playfair Display";
            padding: 1.5rem;

            span {
            display: block;
            font-family: "Playfair Display Bold";
            }   
        }
    }

    .random-beer {
    background: lightgrey;
    justify-items: center;
    text-align: center;
    object-fit: contain;

        img {
            padding-top: 2.5em;
            max-height: 20em;
        }
    }

    .findmeanotherbeer {
    background: lightgrey;
    text-align: center;

    h1 {
        font-family: "Open Sans Bold";
        padding-top: 2rem;
        }

        h2 {
        font-family: "Open Sans";
        color: royalblue;
        padding-top: 1rem;
        }

        p {
        font-family: "Open Sans";
        padding-top: 1rem;
        height: 9rem;
        }

        .pH {
        color: white;
        }

        li {
        display:inline-block;
        font-family: "Playfair Display";
        padding: 1.5rem;
        padding-top: 0rem;

        span {
        display: block;
        font-family: "Playfair Display Bold";
        }      
        }

        .ingredients {
        background-color: royalblue;
        font-family: "Open Sans Bold";
        color: white;
        height: 3rem;
        width: 9rem;
        margin: 2rem;
        }
}

.givemeanotherbeer {

    .givemeanotherbeerbutton {
    background-color: orange;
    font-family: "Open Sans Bold";
    color: white;
    height: 3rem;
    width: 11rem;
    margin: 2rem;
    }
}

footer {
    background: white;
    display: flex;
    justify-content: center;
    margin: 3rem;
    
    button {
        margin: 0.175rem;
    }
}